.form {
  width: 100%;
  max-width: 1920px;
  padding: 15px;
  border: 3px solid #1687a7;
}

form{
  display: flex;
  width: 80%;
  max-width: 1920px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
