.TodoItem {
  border: 3px solid #1687a7;
  width: 100%;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  max-width: 1920px;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 0 auto;
  width: 80%;
}

.deleteBtn {
  color: #dd0a35;
  font-weight: bold;
  cursor: pointer;
  margin: 0 15px;
  font-size: 30px;
  user-select: none; 
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
    height: 100%;
}

.text {
  padding-left: 15px;
  word-break: break-all;
}

.wrap {
}

.status {
  color: #1687a7;
  font-weight: bold;
  border: 3px solid #1687a7;
  border-radius: 50%;
  padding: 5px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none; 
}
