.nav{
    background-color: #014955;
    margin-top: -16px;
    padding: 0;
}

ul{
    padding: 0;
    text-decoration: none;
    display: flex;
    width: 100%;
}

.nav-item{
    flex: 0 0 50%;
}

.nav-left{
}

li {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
}

li:hover{
    background-color: #1687a7;
}

.nav-active{
    background-color: #1687a7;
}